@page "/virtual"
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h4>@textShow</h4>

            @foreach (var item in Employees)
            {
                <h4>@item.Name</h4>
            }
        </div>
        <br />
        <div class="col-sm-6">
            <table class="table table-bordered">
               <thead>
                    <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Country</th>
                </tr>
               </thead>
                <tbody>
                   <Virtualize Items="Employees" Context="item">
                       <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@item.Country</td>
                       </tr>
                   </Virtualize>
                </tbody>
            </table>
        </div>
    </div>
</div>

